<li class="b ahx agv">
  <div class="azd" style="width: 100%">
    <div class="bqe cj ca js-msgGroup">
      <a href="#" class="ahx tw">
        <div class="tu">
          {{#if this.profile}}
          <img class="wg bqa wp yy agc" src="{{#if profile.photo}}{{profile.photo}}{{else}}./client/media/bg/no-image-user.jpg{{/if}}">
          <div class="tv">
            <strong>You start chat with:</strong>
            <div class="bqo">
              {{#if profile.firstname}}
                {{profile.firstname}} {{profile.lastname}}
              {{else}}
              Anonymous
              {{/if}}
            </div>
          </div>
          {{/if}}
        </div>
      </a>
    </div>
  </div>
</li>
